{% extends "menu.html" %}


{% block pagename %}
    <h1>Новости</h1>
{% endblock %}

{% block menu %}
    {{ block.super }}
{% endblock %}

{% block content %}

    <div class="row">
        {% for news in page_obj%}
            <div class="col-md-4">
                <h2>{{ news.title }}</h2>
                <p>{{ news.content }}</p>
                <p>{{ news.created_at }}</p>
                <br>
            </div>
        {% endfor%}
    </div>

    {% if page_obj.has_other_pages %}
        <nav aria-label="Page navigation">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            Предыдущая
                        </a>
                    </li>
                {% endif %}


                {% for i in page_obj.paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="#">{{ i }}</a>
                        </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                    </li>
                    {% endif %}
                {% endfor %}


                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            Следующая
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
    <br>
    <div>
    <form method="get" style="margin-bottom: 20px;">
        <label for="nums">Показать на странице:</label>
        <select name="nums" id="nums" onchange="this.form.submit()">
            <option value="1" {% if nums == 1 %} selected {% endif %}>1</option>
            <option value="3" {% if nums == 3 %} selected {% endif %}>3</option>
            <option value="5" {% if nums == 5 %} selected {% endif %}>5</option>
        </select>
    </form>
</div>
    <br>
    <input type="button" onclick="window.location='/'" value="Вернуться на главную страницу">
{% endblock %}